.card-container{
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 30px;
    margin-top: 15px;
}
.card-container .card-logo img{
    width:100px;
    height: 100px;
    border-radius: 20px;
    
}
.card-container .card-title{
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-container .card-content{
    margin-top: 10px;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    margin-left: 10px;
    height: auto;
    overflow: hidden;

}
.card-container .items{
    display: flex;
    margin-top: 30px;
   
} 
.card-container .items li{
    list-style: none;
    background-color: lightblue;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 8px;
    color: #3080FF;
    margin-left: 20px;
}
.card-container .card-buttons{
    margin-top: 30px;
}
.card-container .card-buttons .Apply{
    background-color: #3080FF;
    padding: 10px;
    border-radius: 10px;
    color: White;
    border:none;
    margin-left: 10px;
    margin-right: 20px;
    width: 120px;
}
.card-container .card-buttons .Messages{
    background-color: #F2EBE9;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    border:none;
    color: grey;
    margin-left: 5px;
    margin-right: 20px;
}