
.form-container h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    font-size: 1.3em;
}
.check{
    margin-top: 10px;
}
.check .check-input{
    border-radius: 3px;
}
.check .check-label{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
